Source: dh-vci
Section: devel
Priority: optional
Maintainer: NuDanOS Maintainers <jon@fernandez.tech>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Rules-Requires-Root: no
Vcs-Git: https://github.com/nudanos/dh-vci.git
Vcs-Browser: https://github.com/nudanos/dh-vci

Package: dh-vci
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}
Description: Vyatta Component Infra Debian Build Helper
 A Debian Helper program to automate integration of Vyatta Component packages
 with the Vyatta Component Infrastructure.
